<section class="bg-dark text-light p-5 p-lg-4 text-left -py3">
    <div class="container">
      <div class="d-sm-flex align-items-left justify-content-between">
        <div>
          <h1>About Daniel Séguin, Organiste</h1>
          <p class="lead my-2">
            Daniel has been played music at the organ since the early 80's.
            He has taken organ courses with a great teacher, Louis Cyr in Hawkesbury, Ontario.  
            Daniel has accumulated hundreds of music sheets and still playing on his new Roland AT-100.
            He particular enjoyed his summer 1987 playing at the Tourne-Broche dinning room in Lachute, Quebec.
            When he is not playing the organ, he enjoys listening to his favorite musicians:  André Gagnon, Alexandra Streliski, Richard Abel, and Frank Mills.
          </p>
        </div>
        <img class="img-fluid w-50 d-sm-block" src="/assets/montage.JPG" alt="Daniel at the organ since the early 80's">
      </div>
    </div>
</section> 