<section class="bg-dark text-light p-5 p-lg-4 text-left -py3">
    <div class="container">
        <h2>Send a song special request to Daniel</h2>
        <form>
            <div class="mb-3">
                <label for="NameLabel" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" #name placeholder="Enter your name">
            </div>
            <div class="mb-3">
                <label for="EmailLabel" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="emailaddr" #email placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="SongLabel" class="form-label">Name of Song</label>
                <input type="text" class="form-control" id="songname" #song placeholder="Enter the name of the song to request">
            </div>
            <div class="mb-3">
                <label for="EmailMsgLabel" class="form-label">Message</label>
                <textarea class="form-control" id="emailmsg" rows="5" #msg placeholder="Enter your message"></textarea>
            </div>
            <button type="button" class="button is-large is-warning" (click)="sendRequest(name.value,email.value,song.value,msg.value)">Submit</button>
        </form>
    </div>
</section>