    
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-2 col-lg-2">Song Id</div>
        <div class="col-sm-8 col-md-8 col-lg-6">{{ musicModel?.songId }}</div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-2 col-lg-2"><div class="p-3 border bg-light">Song Name</div></div>
        <div class="col-sm-8 col-md-8 col-lg-6"><div class="p-3 border bg-light">{{ musicModel?.songName }}</div></div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-2 col-lg-2"><div class="p-3 border bg-light">Author</div></div>
        <div class="col-sm-8 col-md-8 col-lg-6"><div class="p-3 border bg-light">{{ musicModel?.songAuthor }}</div></div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-2 col-lg-2"><div class="p-3 border bg-light">Song Category</div></div>
        <div class="col-sm-8 col-md-8 col-lg-6"><div class="p-3 border bg-light">{{ musicModel?.songCategory }}</div></div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-2 col-lg-2"><div class="p-3 border bg-light">Song Description</div></div>
        <div class="col-sm-8 col-md-8 col-lg-6"><div class="p-3 border bg-light">{{ musicModel?.songDescription }}</div></div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-2 col-lg-2"><div class="p-3 border bg-light">Listen</div></div>
        <div class="col-sm-8 col-md-8 col-lg-6"><div class="p-3 border bg-light"><a href="{{ musicModel?.songLink }}" target="_blank">Click Here</a></div></div>
      </div>
    </div>