.alert {
    background-color: darksalmon;
    color: black;
}
  
.song-photo {
    height: 600px;
    width: 50%;
    object-fit: cover;
    border-radius: 30px;
    float: right;
}
    
.song-heading {
    font-size: 48pt;
    font-weight: bold;
    margin-bottom: 15px;
 }
    
.song-location::before {
    content: url('/assets/location-pin.svg') / '';
 }
    
.song-location {
    font-size: 24pt;
    margin-bottom: 15px;
 }
    
.song-title > .section-heading {
    color: var(--primary-color);
    font-size: 24pt;
    margin-bottom: 15px;
}
.song-subtitle > .section-heading {
    color: var(--secondary-color);
    font-size: 18pt;
    margin-bottom: 15px;
}
    
.song-features {
    margin-bottom: 20px;
}
    
.song-features li {
   font-size: 14pt;
}
    
li {
   list-style-type: none;
}
    
.song-apply .section-heading {
   font-size: 18pt;
   margin-bottom: 15px;
 }
    
 label, input {
   display: block;
 }
 label {
      color: var(--secondary-color);
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12pt;
  }
 input {
      font-size: 16pt;
      margin-bottom: 15px;
      padding: 10px;
      width: 400px;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: solid .3px;
 }

 @media (max-width: 1024px) {
      .song-photo {
        width: 100%;
        height: 400px;
      }
 }