/* You can add global styles to this file, and also import other style files */
/* Put these styles in: src/styles.css */

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Be Vietnam Pro', sans-serif;
  }
  :root {
    --primary-color: #605DC8;
    --secondary-color: #8B89E6;
    --accent-color: #e8e7fa;
    --shadow-color: #E8E8E8;
  }
  
  button.primary {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
  }

  @media(min-width: 768px) {
    .news-input {
      width: 50%;
    }
  }

  /* need to add this when using fixed-top in the navivation bar */
  body::before {
    display: block;
    content: '';
    height: 60px;
  }

  /* need this for the map */
  #map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
